.favoritePage{
    display: flex;
    justify-content: center;
    header{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    &Header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 85vw;
        margin-top: 79px;
    }
    h3{
        margin: 0;
    }
    .animeList{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 85vw;
        margin-top:69px;
        &Img{
            margin-bottom: 87px;
            img{
                border-radius: 20px;
                width: 315px;
            }
        }
    }

    
}
